@model PayrollDeduction.Web.Models.Account

@{
    ViewBag.Title = "Dependents";
}

@Html.Partial("_Header.Account")

<div class="well">
    There are no dependents associated with this account.
</div>