@{
    Layout = null;
}

<p>Hi, @ViewBag.FirstName</p>
<p>
    Your Payroll Deduction account has been created. You can view your account balance at
    any time by using the link below.
</p>
<p>
    <a href="#">Payroll Deduction Login</a>
</p>