@{
    Layout = null;
}

<p>Hi, @ViewBag.FirstName</p>
<p>
    New dependents have been added to your Payroll Deduction Account. You can view your account at
    any time by using the link below.
</p>
<p>
    <a href="#">Payroll Deduction Login</a>
</p>