@model PayrollDeduction.Web.Models.Account

@{
    ViewBag.Title = "Transactions";
}

@Html.Partial("_Header.Account")

<div class="well">
    There are no transactions associated with this account.
</div>